<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Oats</servlet-name>
		<servlet-class>com.emergentgameplay.oats.OatsServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.FrequencyProcessorServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>Resynthesis</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.ResynthesisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewContext</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.ViewContextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextList</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.ContextListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFiles</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.ViewFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateUploadUrl</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.GenerateUploadUrlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackendInit</servlet-name>
        <servlet-class>com.emergentgameplay.oats.servlet.BackendInitServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BackendInit</servlet-name>
        <url-pattern>/_ah/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateUploadUrl</servlet-name>
        <url-pattern>/generateUploadUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFiles</servlet-name>
        <url-pattern>/viewFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextList</servlet-name>
        <url-pattern>/contextList</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Oats</servlet-name>
		<url-pattern>/oats</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resynthesis</servlet-name>
        <url-pattern>/resynthesis</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewContext</servlet-name>
        <url-pattern>/viewContext</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>upload.jsp</welcome-file>
	</welcome-file-list>
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>loggedon</web-resource-name>
            <url-pattern>/home.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>