# Configuration file

####################
# compatibility
####################

compatibility {
    D:"BuildCraft Conversion Ratio"=500.0
    D:"IndustrialCraft Conversion Ratio"=250.0
    B:"Load BuildCraft Module"=true
    B:"Load IndustrialCraft Module"=true
    B:"Load ThermalExpansion Module"=true
    D:"Thermal Expansion Conversion Ratio"=50.0
}


